<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.dialer.blocking">

  <application android:theme="@style/Theme.AppCompat">

    <provider
      android:authorities="com.android.dialer.blocking.filterednumberprovider"
      android:exported="false"
      android:multiprocess="false"
      android:name="com.android.dialer.blocking.FilteredNumberProvider"/>

  </application>
</manifest>
