<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        package="com.android.voicemailomtp"
>

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="25" />

    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true">

        <activity android:name="com.android.voicemailomtp.settings.VoicemailSettingsActivity"
          android:label="@string/voicemail_settings_label">
            <intent-filter >
                <!-- DO NOT RENAME. There are existing apps which use this string. -->
                <action android:name="com.android.voicemailomtp.CallFeaturesSetting.ADD_VOICEMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.telephony.action.CONFIGURE_VOICEMAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.android.voicemailomtp.sms.OmtpMessageReceiver"
            android:exported="false"
            androidprv:systemUserOnly="true">
            <intent-filter>
                <action android:name="com.android.vociemailomtp.sms.sms_received"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.android.voicemailomtp.fetch.FetchVoicemailReceiver"
            android:exported="true"
            android:permission="com.android.voicemail.permission.READ_VOICEMAIL"
            androidprv:systemUserOnly="true">
            <intent-filter>
                <action android:name="android.intent.action.FETCH_VOICEMAIL" />
                    <data
                        android:scheme="content"
                        android:host="com.android.voicemail"
                        android:mimeType="vnd.android.cursor.item/voicemail" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.voicemailomtp.sync.OmtpVvmSyncReceiver"
            android:exported="true"
            android:permission="com.android.voicemail.permission.READ_VOICEMAIL"
            androidprv:systemUserOnly="true">
            <intent-filter>
                <action android:name="android.provider.action.SYNC_VOICEMAIL"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.voicemailomtp.sync.VoicemailProviderChangeReceiver"
          android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <data
                    android:scheme="content"
                    android:host="com.android.voicemail"
                    android:mimeType="vnd.android.cursor.dir/voicemails"/>
            </intent-filter>
        </receiver>

        <service
          android:name="com.android.voicemailomtp.scheduling.TaskSchedulerService"
          android:exported="false" />

        <service
          android:name="com.android.voicemailomtp.OmtpService"
          android:permission="android.permission.BIND_VISUAL_VOICEMAIL_SERVICE"
          android:exported="true">
            <intent-filter>
                <action android:name="android.telephony.VisualVoicemailService"/>
            </intent-filter>
        </service>
        <activity android:name=".settings.VoicemailChangePinActivity"
          android:exported="false"
          android:windowSoftInputMode="stateVisible|adjustResize">
          </activity>
    </application>
</manifest>
